.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding-top: var(--header-height);
}

.contact h2 {
  font-size: 4rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.contact__box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.contact__box input,
.contact form textarea {
  width: 100%;
  padding: 1rem;
  font-size: 1.3rem;
  color: white;
  background-color: #192a56;
  border-radius: 1rem;
  border: 2px solid #00A8FF;
  margin: 1rem 0;
  resize: none;
}

.contact form textarea {
  height: 14rem;
}

.contact__btn {
  align-self: center;
  background-color: #192a56;
  color: #FFF;
  padding: 1rem 2rem;
  border-radius: 5rem;
  border: 2px solid #00A8FF;
  box-shadow: 0 0 10px rgba(0, 168, 255, 0.5);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.4rem;
  transition: ease-in-out 0.3s;
  cursor: pointer;
  width: auto;
  max-width: 20rem;
  margin: 2rem auto;
}

.contact__btn:hover {
  background-color: #00A8FF;
  color: #192a56;
  box-shadow: 0 0 25px rgba(0, 168, 255, 1);
}

.success__message {
  color: green;
  font-size: 1.2rem;
  text-align: center;
}


@media screen and (max-width: 768px) {
  .contact {
    width: 90%;
  }
}