.home {
  min-height: 85vh;
  width: 80%;
  padding-top: calc(var(--header-height) + 1rem);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  flex-wrap: nowrap;
  margin: 0 auto;
}

.home__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.home__content h1 {
  padding-top: 1rem;
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto;
  line-height: 1.1;
  flex-wrap: nowrap;
  text-align: center;
}

.home__content h1 span {
  background-image: linear-gradient(to right, #e84118, #f05d0e, #f77702, #fc8f00, #ffa600);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.home__content h2 {
  margin-top: 1rem;
  font-weight: 600;
}

.home__content p {
  min-height: 36vh;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.8;
  opacity: 0.9;
  will-change: contents;
}

.home__img img {
  width: 28vw;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 25px rgba(10, 219, 226, 0.15);
  transition: ease-in-out 0.4s;
}

.home__img img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(10, 219, 226, 0.15),
  0 0 50px rgba(10, 219, 226, 0.15),
  0 0 75px rgba(10, 219, 226, 0.15);
}

.btn__group {
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 100%;
}

.btn__group .btn {
  flex: 1;
  text-align: center;
  padding: 1rem 2rem;
  min-width: max-content; /* Se asegura de que el botón más corto crezca hasta el tamaño del más largo */
}

.btn {
  background-color: #192a56;
  color: #FFF;
  padding: 1rem 2rem;
  border-radius: 5rem;
  border: 2px solid #00A8FF;
  box-shadow: 0 0 10px rgba(0, 168, 255, 0.5);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: #00A8FF;  
  color: #192a56;
  box-shadow: 0 0 25px rgba(0, 168, 255, 1);
}

@media screen and (max-width: 1280px) {

  .home {
    min-height: 100vh;
  }
  .home__content p {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 996px) {
  .home {
    min-height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    flex-wrap: nowrap;
    margin: 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .home__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
  }

  .home__content p {
    min-height: 25vh;
  }

  .btn__group {
    width: 70%;
  }

  .home__img img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .home__content p {
    min-height: 30vh;
    font-size: 1.2rem;
  }

  .btn__group {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {

  .home {
    min-height: 100vh;
  }
  .home__content p {
    font-size: 1.1rem;
    min-height: 20rem;
  }
  .btn__group {
    display: flex;
    flex-direction: column;
  }
}