.bd-flex {
  max-width: 1400px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

/*===== HEADER =====*/
.header {
  position: fixed;
  width: 100%;
  height: var(--header-height);
  padding: 1 1.5rem;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  z-index: var(--z-fixed);
  display: flex;
  align-items: center;
}

.header__logo {
  color: var(--white-color);
}

/*===== NAV =====*/
.header {
  height: calc(var(--header-height) + 1rem);
}

.header__logo {
  font-size: 3.5rem;
  color: var(--white-color);
  display: none;
}

.logo {
  font-size: 3rem;
  color: var(--white-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo:hover {
  transform: scale(1.1);
}

.nav__toggle {
  font-size: 3rem;
  display: none;
}

.nav {
  width: 100%;
}

.nav__perfil {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 1rem;
}

.nav__img img {
  width: 64px;
  height: 64px;
  min-inline-size: 64px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  box-shadow: 0 4px 25px rgba(10, 219, 226, 0.15);
  transition: ease-in-out 0.4s;
  cursor: pointer;
  display: none;
}

.nav__img img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(10, 219, 226, 0.15),
              0 0 50px rgba(10, 219, 226, 0.15),
              0 0 75px rgba(10, 219, 226, 0.15);
}

.nav__name {
  background-image: linear-gradient(to right, #e84118, #f05d0e, #f77702, #fc8f00, #ffa600);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}


.nav__profesion {
  font-size: var(--small-font-size);
}

.nav__menu {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.nav__list {
  display: flex;
  gap: 0.5rem;
}

.nav__link {
  padding: .5rem .9rem;
  border-radius: .25rem;
  color: var(--white-color);
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.nav__link:hover {
  background-color: var(--first-color);
}

.nav__social {
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav__social-icon {
  font-size: 1.2rem;
  color: var(--white-color);
  margin-right: 1rem;
  padding: 0.5rem;
  transition: ease-in-out 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


.nav__social-icon:hover {
  color: var(--first-color);
}

/*===== MEDIA QUERIES =====*/
@media screen and (max-width: 768px) {
  .nav__menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    padding: 1rem 3rem;
    background: rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 2rem;
    border-left: 2px solid #000000;
    border-bottom: 2px solid #000000;
    margin-right: 0;
  }

  .nav__menu.show {
    display: block; /* El menú se muestra cuando tiene la clase 'show' */
  }

  .nav__list {
    display: block;
    margin: 0 auto;
    padding: 0;
  }

  .nav__link {
    display: block;
    padding: 0.5rem;
    width: 100%;
  }

  .nav__toggle {
    width: 48px;
    height: 48px;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    user-select: none;
  }

  .nav__social {
    display: none;
  }
}

@media screen and (max-width: 996px) {
  .nav__img img {
    display: flex;
  }
}